<section id="about" class="about-section">
  <h2>Sobre mí</h2>
  <p>
      Ingeniero de Software Senior con más de 8 años de experiencia en el diseño,
      desarrollo y evolución de aplicaciones empresariales y sistemas críticos en
      sectores gubernamentales y privados. Especialista en desarrollo Full Stack,
      con fuerte enfoque backend, arquitecturas escalables y modernización de sistemas.
  </p>
  <p>
     Amplia experiencia trabajando con .NET Core, Java, Angular y bases de datos
      empresariales, participando en proyectos de alta disponibilidad, seguridad
      y cumplimiento. Destacado por la capacidad de análisis, resolución de problemas
      complejos y liderazgo técnico en entornos productivos.
  </p>
    <h2>COMPETENCIAS CLAVE</h2>
    <ul>
      <li>Desarrollo Full Stack (Backend-driven)</li>
      <li>Diseño de sistemas escalables y mantenibles</li>
      <li>APIs REST y SOAP</li>
      <li>Integración de sistemas empresariales</li>
      <li>Optimización de rendimiento y bases de datos</li>
      <li>Arquitecturas MVC, DDD, Hexagonal</li>
      <li>Metodologías ágiles (Scrum)</li>
      <li>Análisis y liderazgo técnico</li>
    </ul>
    <h2>IDIOMAS</h2>
    <ul>
      <li>Español: Nativo</li>
      <li>Inglés: Intermedio (uso profesional)</li>
      <li>Ruso: Intermedio</li>
    </ul>
</section>